<p>update works!</p>
<h2>Update Student</h2>
<form (ngSubmit)="updateStudent()">
  <label for="name">Name:</label>
  <input id="name" type="text" [(ngModel)]="studentData.name" name="name" required />

  <label for="lastName">Last Name:</label>
  <input id="lastName" type="text" [(ngModel)]="studentData.last_name" name="lastName" required />

  <label for="grade">Grade:</label>
  <input id="grade" type="text" [(ngModel)]="studentData.grade" name="grade" required />

  <button type="submit">Update</button>
</form>
